{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Recuperar Contraseña</h1>
        <p>Introduce tu correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>

        <!-- Mostrar mensajes de error -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Enviar</button>
        </form>
        <a href="{% url 'login' %}" class="btn btn-cancel">Volver al login</a>
    </div>
</body>
</html>